:root { 
--gray_600_cc:#71577ecc; 
--deep_orange_A100:#ea9b7a; 
--gray_800_03:#4d2d5e; 
--gray_800_02:#39393b; 
--gray_800_01:#4d2c5e; 
--red_400:#d46a43; 
--white_A700_99:#ffffff99; 
--yellow_800:#ebb12b; 
--teal_700:#217c58; 
--deep_orange_900:#bd4917; 
--light_blue_A700:#0875f7; 
--blue_gray_900_01:#353535; 
--yellow_900_19:#ff742619; 
--deep_orange_500:#fc611f; 
--blue_gray_900:#243434; 
--gray_600:#858585; 
--gray_400:#c2c2c2; 
--blue_gray_100:#ced3e6; 
--orange_A200:#faaf3a; 
--amber_500:#fdc00f; 
--gray_800:#472658; 
--orange_A200_01:#ffa035; 
--black_900_0c:#0000000c; 
--cyan_200:#88cfe5; 
--gray_400_01:#b6b6b6; 
--lime_50:#fdf8ee; 
--cyan_800:#118995; 
--black_900_19:#00000019; 
--blue_gray_400_01:#8e8e8e; 
--gray_700_02:#5f5f5f; 
--cyan_600:#16b6c6; 
--white_A700:#ffffff; 
--gray_700_01:#564c54; 
--blue_gray_100_01:#d2dcec; 
--red_900:#b11722; 
--blue_gray_100_02:#d1dce4; 
--red_300:#b17373; 
--red_400_02:#dd615c; 
--red_400_01:#df615c; 
--amber_300_33:#f2c94c33; 
--gray_50:#f9f9f9; 
--red_100:#fedfd2; 
--teal_400:#21b573; 
--white_A700_33:#ffffff33; 
--deep_orange_A100_01:#fda079; 
--black_900:#000000; 
--yellow_900:#c77e2e; 
--pink_800:#a92f4b; 
--deep_orange_400:#fd814c; 
--yellow_100:#fff2cf; 
--gray_900_02:#212121; 
--gray_700:#585859; 
--gray_900_03:#00052e; 
--gray_500:#acacac; 
--blue_gray_400:#8a8a8a; 
--blue_800:#084fc7; 
--blue_gray_600:#467293; 
--gray_900:#1c1c1c; 
--gray_900_01:#040c26; 
--red_300_01:#d96c63; 
--orange_100:#f8d4aa; 
--yellow_900_01:#ff7426; 
--cyan_100:#b8e8f2; 
--indigo_900:#0f335e; 
--cyan_900:#184f78; 
}